<!doctype html>
<html lang="en">

<head>
    <title>Create E-book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        #form-body {
            height: 320px;
            margin-top: 140px;
        }
    </style>
</head>

<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body">
                <h1>E-book Details</h1>
                <form action="/create-ebook" method="post">
                    <div class="mb-3">
                        <label for="bname1" class="form-label">Book Name</label>
                        <input type="text" class="form-control" id="bname1" name="name" placeholder="Your Book Name">
                    </div>
                    <div class="mb-3">
                        <label for="aname1" class="form-label">Author Name</label>
                        <input type="text" class="form-control" id="aname1" name="author" placeholder="Gandhi Jee">
                    </div>
                    <div class="mb-3">
                        <label for="uname1" class="form-label">Url</label>
                        <input type="text" class="form-control" id="uname1" name="url" placeholder="http://....">
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="Add Book">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

</html>