<!doctype html>
<html lang="en">

<head>
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        #form-body {
            height: 320px;
            margin-top: 140px;
        }
    </style>
</head>

<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body">
                <h1>Login Form</h1>
                <div class="mb-3">
                    <label for="username1" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username1" placeholder="yourname01">
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pass" placeholder="**********">
                </div>
                <div class="text-center">
                    <input type="button" class="btn btn-primary" value="login"> <br>
                    Are you a new user? <a href="register.html">Register</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

</html>