<!doctype html>
<html lang="en">

<head>
    <title>User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="main">
        <div id="canvas">
            <div class="nav">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Welcome {{this_user.username}}</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/login">Logout</a>
                                </li>
                            </ul>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search"
                                    aria-label="Search" />
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="content">
                <h3 class="headings">Issued book</h3>
                <div class="table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Author</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ebook in grant %}
                            <tr>
                                <th scope="row">{{ebook.id}}</th>
                                <td>{{ebook.name}}</td>
                                <td>{{ebook.author}}</td>
                                <td class="d-flex justify-content-center"><a href="/view/{{ebook.name}}/{{ebook.user_id}}" class="btn btn-info mx-2">Read</a>
                                    <a href="/return/{{ebook.id}}/{{this_user.id}}" class="btn btn-warning" onclick="return confirm('Are you sure? you want to return your book?')">Return</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="content">
                <h3 class="headings">Requested E-books</h3>
                <div class="table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Author</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for abook in req %}
                            <tr>
                                <th scope="row">{{abook.id}}</th>
                                <td>{{abook.name}}</td>
                                <td>{{abook.author}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-end mx-1 my-5">
                    <a href="/request-ebook/{{this_user.id}}" class="btn btn-primary">Request E-Book</a>
                </div>
            </div>

        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

</html>